.navbar{
    height: 60px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: inherit;
    margin: 0px auto;
    padding: 0px 15px;
    background-color: #fff;
    border: 1px solid #d2d2dc;
}
.nav-links a{
    text-decoration: none;
    margin: 10px;
    color: #0d3a17;
    font-weight: 600;
}
.nav-auth{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-auth img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.logout-btn{
    position: absolute;
    top: 40px;
    background-color: rgb(246, 246, 246);
    width: 80px;
    padding: 12px;
    text-align: center;
    border: 1px solid #d2d2dc;
    cursor: pointer;
    display: none;
    color: #0d3a17;
}
.user-name{
    display: flex;
    gap: 6px;
    cursor: pointer;
    color: #0d3a17;
}
.scroll-down:before {
    transform: rotate(-45deg);
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    border: 1px solid #0d3a17;
    border-width: 0px 0 2px 2px;
}
.user-details:hover .logout-btn{
    display: block;
}